{
	"debug": true,
	"format": "hex",
	"inbound": {
		"network": "tcp",
		"address": "127.0.0.1:11112",
		"output": "/tmp/client.txt"
	},
	"outbound": {
		"network": "tcp",
		"address": "127.0.0.1:11113",
		"output": "/tmp/server-1.txt"
	},
	"tee": {
		"server-2": {
			"network": "tcp",
			"address": "127.0.0.1:11114",
			"output": "/tmp/server-2.txt"
		},
		"server-3": {
			"network": "tcp",
			"address": "127.0.0.1:11115",
			"output": "/tmp/server-3.txt"
		}
	}
}